<div class="row">
  <div class="col-12">
    <h3 class="text-center">{{ title }}</h3>
  </div>
</div>
<div class="col-12 mb-3">
  <input [formControl]="filterControl" (keydown)="handleKey($event)" type="text" class="form-control">
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let col of cols"> {{ col.label }} </th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let investor of list | simpleFilter:filterPhrase">
      <td *ngFor="let col of cols"> {{ investor[col.key] }} </td>
      <td>
        <span *ngIf="type === 'fibonacci'" class="badge badge-primary">
          ${{ calculate(investor) }}
        </span>
        <span *ngIf="type === 'grow'" class="badge badge-primary">
          ${{ {base: 1000, interest: 0.06, years: (investor.role * 10)} | grow }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
