<div class="row">
  <div class="col-12">
    <h3 class="text-center">{{ title }}</h3>
  </div>
</div>
<div class="col-12 mb-3">
  <input [(ngModel)]="filterPhrase" (keydown)="handleKey($event)" type="text" class="form-control">
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let col of cols"> {{ col.label }} </th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let investor of list">
      <td *ngFor="let col of cols"> {{ investor[col.key] }} </td>
      <td>
        <span class="badge badge-primary">
          ${{ calculate(investor) }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
