<mat-form-field style="margin-right: 1rem;">
  <mat-label>Field</mat-label>
  <mat-select [(ngModel)]="currentFilterKey">
    <mat-option [value]="''">all field</mat-option>
    <mat-option *ngFor="let col of displayedColumns" [value]="col">
      {{ col }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field style="margin-right: 1rem;">
  <mat-label>Filter</mat-label>
  <input matInput type="text" (keyup)="applyFilter($event)" placeholder="type a phrase">
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Define columns. -->
  <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef> {{ col | titlecase }} </th>
    <td mat-cell *matCellDef="let user"> {{ user[col] }} </td>
  </ng-container>

  <!-- Define rows. -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator
  class="mat-elevation-z8"
  [pageSizeOptions]="pageSizes"
  showFirstLastButtons>
</mat-paginator>
