table {
  width: 100%;
}

.mat-raised-button {
  padding-left: 4px;
  padding-right: 4px;
  min-width: 3rem;
  &.info {
    background-color: #17a2b8;
  }
  &.danger {
    background-color: #dc3545;
  }
}

.mat-btn-group button {
  border-radius: 0;
  margin: 0 1px;
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 0;
  }
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 0;
  }
}

// Custom dialog.
.custom-dialog-content {
  font-style: italic;
  color: rgb(121, 21, 21);
}
.custom-dialog-buttons {
  button {
    padding: .5rem;
    text-align: center;
    border: thick;
    width: 49%;
    background-color: #17a2b8;
    &:first-child {
      border-top-left-radius: .3rem;
      border-bottom-left-radius: .3rem;
      margin-right: 1%;
    }
    &:last-child {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
      background-color: #dc3545;
    }
  }
}
