<div class="main" fxLayout="column">
  <mat-toolbar class="app-toolbar mat-elevation-z6" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Material Design</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a
          *ngFor="let item of menuItems"
          [routerLink]="item.url"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: item.url === '/'}"
          mat-button>
            <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
            {{ item.text }}
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
