<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let col of cols">
            {{ col.label }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of list$ | async">
          <td *ngFor="let col of cols">
            {{ user[col.key] }}
          </td>
          <td>
            <a class="btn btn-info"
              routerLink="/user/edit/{{ user.id }}">
              <i class="fa fa-pencil"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
