<div class="row">
  <div *ngIf="error$ | async as error" class="col-12 mt-3 mb-3">
    <div class="alert alert-danger">
      <strong>Error: </strong>{{ error || '' }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <button (click)="create()" class="btn btn-lg btn-block btn-success mb-3">
      Add New User
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let col of cols">
            {{ col.label }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of list$ | async">
          <td *ngFor="let col of cols">
            {{ user[col.key] }}
          </td>
          <td>
            <div class="btn-group">
              <a class="btn btn-info"
                routerLink="/user/edit/{{ user.id }}">
                <i class="fa fa-pencil"></i>
              </a>
              <button (click)="delete(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
